.main {

  .wrapperForTitleAndButton {
    width: 96%;
    margin: 100px auto 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

    .button {
      display: none;
    }
  }

}