$text-white: white;
$text-grey: rgba(144, 144, 144, 1);
$text-yellow: #FF9900;
$text-yellow-bright: #FFCC33;

$color-red: #CC3333;
$color-blue: #33C0D3;
$color-dark-grey: #666666;
$color-bright-grey: #999999;

$background-color: rgb(25, 25, 25);
$background-color-curd: rgba(38, 38, 38, 1);

$font-size-min: 14px;
$font-size-middle: 16px;
$font-size-middle-plus: 18px;
$font-size-max: 20px;

$padding-size-min: 8px;
$padding-size-middle: 16px;
$padding-size-max: 24px;

$beeline-background-gradient: linear-gradient(51.04deg, #FF9900 1.52%, #FFCC33 97.06%);